# create one with 
# az ad sp create-for-rbac --role="Contributor" --scopes="/subscriptions/<SUBSCRIPTION_ID>"
export ARM_CLIENT_ID="xxxxx"
export ARM_CLIENT_SECRET="yyyyy"
export ARM_SUBSCRIPTION_ID="<SUBSCRIPTION_ID>"
export ARM_TENANT_ID="aaaaa"
